@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --white: #FFFFFF;
    --Brown: #AE7930;
    --light-brown: #FEF189;
    --Black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

a,li{
    text-decoration: none;
    list-style: none;
}
.navbar-nav{
    display: flex;
    gap: 30px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--white);
}
.nav-link:hover{
    color: var(--white);
    border-bottom: 1px solid var(--white);
}
.nav-btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    width: 127px;
    height: 36px;
    padding: 6px 40px 6px 40px;
    border-radius: 50px;
    border: 1px solid #AE7930;
    background: none;
    color: #AE7930;
}
.nav-btn:hover{
    background: linear-gradient(135deg, #AE7930 0%, #FEF189 52.5%, #AE7930 100%);
    border: none;
    color: var(--Black);
}

/*==================== hero-header ================*/
.hero-header {
    background: url(./image/Hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
}

.Couns1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Lato", sans-serif;
    width: 235px;
}

.Couns1 .fa-long-arrow-right {
    color: white;
}

.Couns2 .fa-long-arrow-right {
    color: white;
}

.Couns2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Lato", sans-serif;
    width: 302px;
}

.Couns1:hover,
.Couns2:hover {
    color: white;
}

a {
    text-decoration: none;
}

.hero-join {
    width: 270px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 20px;
}

.icon-plas {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100%);
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    color: black;
    -webkit-box-pack: center;
    justify-content: center;
}

.join-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-join p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Cormorant Garamond", serif;
}

.hero-join p span {
    font-family: "Lato", sans-serif;
}

.hero-col2 {
    position: relative;
    left: 30px;
}

.hero-col1-head {
    font-size: 80px;
    font-weight: 400;
    font-family: "Cormorant Garamond", serif;
    line-height: 88px;
    color: white;
    letter-spacing: 3px;
}

.col2-des-img {
    width: 245px;
    margin: auto;
}

.col2-des-img p {
    width: 245px;
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.hero-BookSchedule {
    width: 320px;
    padding: 18px;
    gap: 64px;
    background: #00000099;
    border: 1px solid;
    border-image-source: linear-gradient(100.42deg, rgba(255, 255, 255, 0.5) 16.09%, rgba(255, 255, 255, 0.1) 105.27%);
    border-radius: 20px;
    margin: auto;
}

.bookschedule-text {
    display: flex;
    justify-content: space-between;
}

.bookschedule-text h5 {
    font-size: 32px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    text-align: left;
    color: white;
    line-height: 40px;
}

.view {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #FEF189;
    border-bottom: 1px solid #AE7930;
    height: 23px;
}

.BookSchedule-numberline {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.BookSchedule-numberline2 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3px;
    margin-left: 30px;
    margin-top: 2px;
}

.num1 {
    width: 32px;
    height: 32px;
    border: 1px solid #FEF189;
    border-radius: 50%;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: black;
}

.num1:hover {
    border: none;
    background: linear-gradient(135deg, #AE7930 0%, #FEF189 52.5%, #AE7930 100%);
    color: black;
}

.num3:hover {
    border: none;
    background: linear-gradient(135deg, #AE7930 0%, #FEF189 52.5%, #AE7930 100%);
    color: black;
}

.num2 {
    width: 32px;
    height: 32px;
    border: none;
    background: linear-gradient(135deg, #AE7930 0%, #FEF189 52.5%, #AE7930 100%);
    border-radius: 50%;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: black;
}

.num3 {
    width: 32px;
    height: 32px;
    border: 1px dotted #FEF189;
    border-radius: 50%;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: black;
}

@media screen and (max-width:768px) {

    .Couns1,
    .Couns2 {
        width: 100%;
    }

    .hero-join {
        width: 100%;
        padding: 13px;
        text-align: left;
    }

    .hero-col2 {
        position: relative;
        left: 0px;
    }

    .hero-BookSchedule {
        width: 100%;
        padding: 18px;
    }

    .BookSchedule-numberline2 {
        margin-left: 0px;
    }

    .hero-col1-head {
        font-size: 50px;
        font-weight: 400;
        font-family: "Cormorant Garamond", serif;
        line-height: 50px;
        color: white;
        letter-spacing: 3px;
    }
}

/*================== clint-logo ===============*/
.clint-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/* .clint-logo img{
    width: 195px;
} */
/*============= About Section =============*/
.about-img img{
    width: 100%;
    height: 100%;
}
.about-heading h1{
    font-size: 56px;
    font-weight: 400;
    font-family: "Cormorant Garamond", serif;
}
.about-heading p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    width: 100%;
}
.about-box1{
    display: grid;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100%);
    border-radius: 20px;
    margin-bottom: 20px;
}
.about-box2{
    display: grid;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.281);
    box-shadow: 1px 1px 1px 3px gainsboro;
    border-radius: 20px;
    margin-bottom: 20px;
}
.about-head{
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    color: var(--Black);
}
.About-dsc{
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}
.about-btn{
    width: 193px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--Black);
    gap: 20px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
}
/*============= service Section =============*/
.service-container{
    background-image: url(Service-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.item{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service1{
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Black);
}
.service1 h6,i{
    font-size: 24px;
    font-family: "Cormorant Garamond", serif;
    color: var(--Black);
}
.service-section-heading{
    margin-top: 50%;
}
.Service-btn button{
    width: 152px;
    height: 36px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--Black);
}
/*============= issues Section ==============*/
.issues-item img{
    position: absolute;
}
.issues-text{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}
.issues-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--Brown);
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    color: var(--bs-white);
    -webkit-box-pack: center;
    justify-content: center;
}
.Issues img{
    width: 100%;
}
.issues-btn{
    width: 136px;
    height: 36px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--Black);
    gap: 20px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
}
.Issues-btn2{
    width: 161px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid var(--Brown);
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--Black);
    gap: 20px;
    background-color: var(--white);
    margin: auto;
}
.Issues-btn2:hover{
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
    border: none;
}
.assess-btn{
    width: 191px;
    height: 36px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--Black);
    gap: 20px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
}
/*============ assessment Section ============*/
.assessment-item{
    background-image: url(bgw.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 20px;
}
.assessment-titles{
    position: relative;
    left: -70px;
}
.assessment-head{
    margin-top: 40%;
}
.tittle1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.assessment-number{
    width: 120px;
    height: 70px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    color: var(--bs-white);
    -webkit-box-pack: center;
    justify-content: center;
}
.assessment-number a{
    font-size: 32px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: var(--white);
}
.assessment-text h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}
.assessment-text p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #222222;
}
/*============ testimonial section ==============*/
.swiper{
    background-color: #3974e125;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 320px;
}
.card-list p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 320px;
}
.card-list i{
    color: #FFA800;
}
li{
    list-style: none;
}
.testimonial-btn{
    width: 180px;
    height: 36px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--Black);
    gap: 20px;
    background-image: linear-gradient(45deg, #AE7930 0%, #FEF189 50%, #AE7930 100% );
}

.ready-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.ready-btn{
    width: 366px;
    background-image:url(lets-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: var(--Black);
    font-size: 32px;
    font-family: "Lato", sans-serif;
    border: none;
}
.ready-btn2{
    width: 184px;
    background-image:url(Discount-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: var(--Black);
    font-size: 32px;
    font-family: "Lato", sans-serif;
    border: none;
    text-align: left;
    padding-left: 20px;
}
/*============== FOOTER ===========*/
.Footer-link{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--white);
    margin-bottom: 20px;
}
.footer-input input{
    width: 95%;
    border-radius: 50px;
    padding: 15px;
    border: 1px solid #AE7930;
    background: none;
    color: var(--white);
}
.copy-text{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--white);
    margin-left: 30px;
}

.footer-btn{
    background-color: var(--Brown);
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--white);
    margin-left: 20px;
}
.footer{
    background-color: #222222;
}


@media screen and (max-width:768px) {
    .about-box1{
        width: 100%;
        padding: 20px;
    }
    .about-box2{
        width: 100%;
        padding: 20px;
    }
    .assessment-titles{
        position: relative;
        left: -0px;
    }
    .tittle1{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .copy-text{
        margin-left: 0px;
    }
    
    .footer-btn{
        margin-left: 0px;
    }
    .hero-head-btn{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .hero-btn{
        margin-top: 10px;
    }
    .service1{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--Black);
    }
    .hero-boxx{
        width: 100%;
        height: 212px;
        background-color: #00000070;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        bottom: 0%;
        margin-top: 20px;
        margin-left: 0px;
    }
    .her0-item2{
        padding-left: 0px;
    }
    .ready-btn{
        width: 100%;
        background-image:url(lets-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        color: var(--Black);
        font-size: 32px;
        font-family: "Lato", sans-serif;
        border: none;
    }
}
.her0-item2{
    width: 235px;
}
.navbar{
    background-color: #2222220a;
}
